<h1>My Dogs: </h1>
<ul><% @user = User.find(current_user) %></ul> 
<li><% @user.dogs.each do |dog| %></li>
<li><%=  dog.name %> </li>
<% end %>


<br>

<%= link_to "All dogs", dogs_path %>
<%= link_to "Add a dog", new_dog_path%>
<%= link_to "Sign out", session_path, :method => :delete %>

