<%= link_to "Home", user_path(current_user) %>
<%= link_to "Add more dogs", new_dog_path %>

<h1>Doggy Directory:</h1>
<p><em>Click on a dog to learn more.</em></p>

  <% @dogs.each do |dog| %> <br>
  <%= link_to dog.name, dog_path(dog), class: "dog-links"%>

  <% end %>



