<% @users.each do |user| %>
<ul class="user-links">
  <li class="user-links">
    <div class="user-name">
    <%= link_to user.name, user_path(user), :class => "user-links" %><span class="dog-name"> owns a </span>
    <% user.dogs.each do |dog| %>
    <%= dog.breed %>
    <% end %>
    <br>
    </div>
    <%= image_tag user.avatar.url(:medium), :class => "user-links" %></li>
</ul>
  <%= image_tag("DogOnLeash.png", :class => "leash", :value => "Press me!")%>
  <% end %>


