<header>
  <%= link_to "Fetch Dogs", dogs_path %>
    <h1>Cuddl</a><span class="period">.</span>Me</h1>
          <h2>Sign Up</h2>
          <%= render 'form' %>
          <p>Already a member? <%= link_to "Log In", new_session_path %></p>
    

  </div></nav>
  </header>  

    