<header>
<%= image_tag("woman_with_dog.jpg", :class => "home-photo") %>
<%= image_tag("dogsplaying.jpg", :class=> "second-photo") %>
</header>
<h2 class="signup">Sign-up for Cuddl<span class="period">.</span>Me</h2>
  <div id="home-signup-form">
  <%= render 'form' %>
  </div>



