<% @user = User.find(current_user) %> 
<h1><%= @user.email %>'s dogs: </h1>
<% @user.dogs.each do |dog| %><br>
<p><%= link_to dog.name, dog_path(dog), class: "dogs" %></p> 
  <% end %>

  <p><%= link_to "Go Play!", parks_path, class: "play"%></p>
 </li>


